/* Stylesheet for custom page*/
body{
	background:url(../images/leaf.jpg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.banner{
	text-align:center;
	padding:10px;
	background-color:#33AFFF;
}
.banner_link{
	margin:15px;
	color:white;
	font-weight:bold;
	font-size:1.5em;
}
.section_black{
	background-color:rgba(0,0,0,.5);
	display:block;
	padding:10px;
}
.section_white{
	background-color:rgba(255,255,255,.7);
	display:block;
	padding:10px;
}
.section_table{
	color:white;
	font-size:1.5em;
	width:90%;
	margin-left:auto;
	margin-right:auto;
}
.section_table_left{
	width:30%;
	margin:5px;
	padding:5px;
}
.section_table_right{
	width:70%;
	margin:5px;
	padding:5px;
}
.section_title{
	text-align:center;
	font-size:4em;
	color:#33AFFF;
	font-weight:bold;
}
.section_subtitle{
	text-align:center;
	font-size:2em;
}
.section_detail{
	color:black;
	font-size:1.5em;
	width:90%;
	margin: 0 auto;
	margin: 0 auto;
}
.question{
	text-align:center;
	font-size:1.5em;
	font-weight:bold;
}
.answer{
	text-align:center;
	font-size:1.2em;
	margin-bottom:10px;
}